<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title></title>
</head>
<body>
	@using (Html.BeginForm("Send", "Messanger"))
	{
		<textarea name="message" rows="10" cols="100" style="display: block"></textarea>
		<input type="submit"/>
	}
</body>
</html>